page-login {
    .passwordIcon{
        font-size:2rem !important;
        // position: relative !important;
        // top: 8px !important;
        // margin: 0 auto !important;
     }
     .item-md{
        padding-left: 0px !important;
    }
    .item-ios{
       padding-left: 0px !important;
   }
}
