page-allusers {
  .fab-md {
    color: #fff;
    background-color: #07133C !important;
  }
  .fab-ios {
    color: #fff;
    background-color: #07133C !important;
  }
  .item-md.item-block .item-inner{
    padding-left: 8px !important;
  }

  .item-ios.item-block .item-inner{
    padding-left: 8px !important;
  }
}
