<ion-header style="background-color: #214952">
  <ion-row style="    margin-top: 4%;">
    <ion-col col-2  style="text-align: center;" (click)="toggleMenu()">
    <ion-icon name="md-menu" style="color: white;font-size: 20px;"></ion-icon>
    </ion-col>
    <ion-col col-10>
      <div style="color:white; text-align: center;height: 16px;font-size: 15.61px;line-height: 23px;">
        {{"Menu.home"|translate}}
      </div>
    </ion-col>
  </ion-row>
</ion-header>



<ion-content padding style="background-color: #214952">
  <!-- autoplay="5000" -->
  <ion-slides  loop="true" speed="300" style="border-radius: 10px;background-color: white;" pager="true" [dir]="direction==true?'rtl':'ltr'" >

    <ion-slide (click)="GoProfile(type.FK_UserTypeID,type.AccountType_ID,type.FK_UserID)" *ngFor="let type of UserTypes">
      <img src="../../assets/imgs/1.png" *ngIf="type.FK_UserTypeID==1">
      <img src="../../assets/imgs/3.png" *ngIf="type.FK_UserTypeID==2">
      <img src="../../assets/imgs/2.png" *ngIf="type.FK_UserTypeID==3">
      <img src="../../assets/imgs/2.png" *ngIf="type.FK_UserTypeID==4">
                   <!-- reviewer -->
      <img src="../../assets/imgs/3.png" *ngIf="type.FK_UserTypeID==5">
      <!-- reviewer academy -->
      <img src="../../assets/imgs/3.png" *ngIf="type.FK_UserTypeID==6">
      <h2 *ngIf="direction==true">{{type.UserType_Ar}}</h2>
      <h2 *ngIf="direction==false">{{type.UserType_En}}</h2>
    
    </ion-slide>

    <!-- <ion-slide (click)="provider('translator',3)">
        <img src="../../assets/imgs/2.png">
        <h2>{{ "translator"|translate}}</h2>
    </ion-slide>

    <ion-slide (click)="provider('Proofreader',4)">
      <img src="../../assets/imgs/2.png">
      <h2>{{ "Proofreader"|translate}}</h2>
    </ion-slide>

    <ion-slide *ngIf="Isadmin"  (click)="admin('admin',2)">
        <img src="../../assets/imgs/3.png">
        <h2>{{ "admin"|translate}}</h2>
    </ion-slide> -->

</ion-slides>

</ion-content>
