page-languages-panel {
  .toolbar-background.toolbar-background-md{
    background-color:  white !important
  }

  .toolbar-background.toolbar-background-ios{
    background-color:  white !important
 }
 .checkbox-md .checkbox-checked {
  border-color: #ffaa45;
  background-color: #ffaa45;
}
.checkbox-ios .checkbox-checked {
  border-color: #ffaa45;
  background-color: #ffaa45;
}
}
