<ion-header>
  <div style="background-color: #fff;">
    <ion-row style="padding-top: 13px;padding-right: 11px;">
        <ion-col col-1 (click)="dismiss()">
          <ion-icon *ngIf="dir==true"  style="font-size: 35px;" name="ios-arrow-round-forward-outline"></ion-icon>
          <ion-icon *ngIf="dir==false"  style="font-size: 35px;" name="ios-arrow-round-back-outline"></ion-icon>
        </ion-col>
        <ion-col col-11 style="margin-top: 9px;text-align: center;height: 16px;width: 54px;color: #07133c;font-size: 15.61px;line-height: 16px;">
          {{"languagesPanel"|translate}}
        </ion-col>
    </ion-row>
  </div>
</ion-header>

<ion-content >

<ion-card>
  <ion-card-header style="background-color:#FFAA45;color: white;">
    <ion-row>
      <ion-col col-4> {{"Name"|translate}} </ion-col>
      <ion-col col-4>{{"academic"|translate}} </ion-col>
      <ion-col col-4>{{"admin"|translate}}  </ion-col>
    </ion-row>
  </ion-card-header>
</ion-card>


<ion-card *ngFor="let lang of Languages" style="position: relative;">
  <ion-card-header >

    <!-- <ion-icon name="md-close" (click)="delete(lang.Lang_ID)" style="position: absolute;top:2px;right:9%;color:red"></ion-icon>
    <ion-icon name="md-create" (click)="edit(lang.Lang_ID,lang._Lang_NameAr,lang._Lan_Name_En,lang._LangAbbreviation,lang._Stasus)"
    style="position: absolute;top:2px;right:1%"></ion-icon> -->

  </ion-card-header>
  <ion-card-content>
    <ion-row>
      <ion-col col-5 *ngIf="dir==true" style=" white-space: normal;"> {{lang._Lang_NameAr}} ( {{lang._LangAbbreviation}})</ion-col>
      <ion-col col-5 *ngIf="dir==false" style=" white-space: normal;"> {{lang._Lan_Name_En}} ( {{lang._LangAbbreviation}}) </ion-col>
      <ion-col col-1 style="text-align: center;">
         <ion-checkbox [checked]="lang._Stasus" (ionChange)="updateStatus(lang.Lang_ID,!lang._Stasus)"></ion-checkbox>
      </ion-col>
      <ion-col col-4 style="text-align: center;">
         <span *ngIf="lang.AdminName!=null" style="border-bottom:1px solid #cecedc;"  (click)="AdminProfile(lang._Fk_AdminID)">
            {{lang.AdminName}}
          </span>
      </ion-col>
      <ion-col col-1>
        <ion-icon name="ios-trash" (click)="delete(lang.Lang_ID)" style="color:red"></ion-icon>
      </ion-col>
      <ion-col col-1>
        <ion-icon name="md-create" (click)="edit(lang.Lang_ID,lang._Lang_NameAr,lang._Lan_Name_En,lang._LangAbbreviation,lang._Stasus)"
         ></ion-icon>
      </ion-col>
    </ion-row>
  </ion-card-content>
</ion-card>

<div style="margin-top: 48px;">

</div>
<ion-fab right bottom>
  <button ion-fab color="custom2" (click)="addNewLanguage()">
    <ion-icon style="color:#e2e2e2;font-size:30px" name="md-add"></ion-icon>
  </button>
</ion-fab>


</ion-content>
