<ion-header>
  <div style="background-color: #fff;">
    <ion-row style="padding-top: 13px;padding-right: 11px;">
        <ion-col col-1 (click)="dismiss()">
          <ion-icon *ngIf="dir==true"  style="font-size: 35px;" name="ios-arrow-round-forward-outline"></ion-icon>
          <ion-icon *ngIf="dir==false"  style="font-size: 35px;" name="ios-arrow-round-back-outline"></ion-icon>
        </ion-col>
        <ion-col col-11 style="text-align: center;">
          <ion-title *ngIf="dir==true">
              {{language.NameAr}}
          </ion-title>
          <ion-title *ngIf="dir==false">
            {{language.NameEn}}
          </ion-title>
        </ion-col>

    </ion-row>
</div>
</ion-header>
<ion-content padding>

  <!-- <div>
    <ion-row>
      <ion-item style="background-color: #f2f2f2;padding-left: 0px !important;">
        <ion-label style="    padding: 0px 6px;"> {{"testforms"|translate}} </ion-label>
        <ion-select  [(ngModel)]="test"  okText='{{"ok"|translate}}' cancelText='{{"cancel"|translate}}'>
          <ion-option  *ngFor="let testform of testforms" [value]="testform.TestForm_ID">
                 {{testform.TestFormPath}}
          </ion-option>
        </ion-select>
      </ion-item>
    </ion-row>
 </div> -->


 <ion-list radio-group [(ngModel)]="test" mode="md">
    <ion-item *ngFor="let testform of testforms">
      <ion-label >    {{testform.TestFormPath}} </ion-label>
      <ion-radio  [value]="testform.TestForm_ID"></ion-radio>
    </ion-item>
</ion-list>

 <button ion-button full color="custom1" (click)="UpgradeRequestDetails()">
  {{"send"|translate}}
</button>




<!-- <ion-row style="margin: 14px 0px;">
  <ion-col col-6>
    <button ion-button full round (click)="accept()" color="custom1">
            {{"accept"|translate}}
    </button>
  </ion-col>
  <ion-col col-6>
   <button ion-button full round (click)="refuse()" color="custom2" >
           {{"refuse"|translate}}
   </button>
 </ion-col>
</ion-row> -->

</ion-content>
