page-language-create-edit {
  .toolbar-background.toolbar-background-md{
    background-color:  white !important
  }

  .toolbar-background.toolbar-background-ios{
    background-color:  white !important
 }

 .list-header-md{
  border-top: unset !important;
 }

 .list-header-ios{
  border-top: unset !important;
 }
}
