

<ion-header>
  <div style="background-color: #fff;">
    <ion-row style="padding-top: 13px;padding-right: 11px;">
        <ion-col col-1 (click)="dismiss()">
          <ion-icon *ngIf="dir==true"  style="font-size: 35px;" name="ios-arrow-round-forward-outline"></ion-icon>
          <ion-icon *ngIf="dir==false"  style="font-size: 35px;" name="ios-arrow-round-back-outline"></ion-icon>
        </ion-col>
        <ion-col  *ngIf="ISEditing" col-11 style="margin-top: 9px;text-align: center;height: 16px;width: 54px;color: #07133c;font-size: 15.61px;line-height: 16px;">
          {{"edit language"|translate}}
        </ion-col>
        <ion-col  *ngIf="!ISEditing" col-11 style="margin-top: 9px;text-align: center;height: 16px;width: 54px;color: #07133c;font-size: 15.61px;line-height: 16px;">
          {{"create language"|translate}}
        </ion-col>
    </ion-row>
  </div>
</ion-header>



<ion-content padding>

    <ion-item>
      <ion-label floating> {{"Lang_Name_Ar"|translate}} </ion-label>
      <ion-input type="text" [(ngModel)]="Lang_Name" ></ion-input>
    </ion-item>

    <ion-item>
      <ion-label floating> {{"Lang_Name_En"|translate}} </ion-label>
      <ion-input type="text" [(ngModel)]="Lan_Name_En" ></ion-input>
    </ion-item>

    <ion-item>
      <ion-label floating> {{"abbr"|translate}} </ion-label>
      <ion-input type="text" [(ngModel)]="LangAbbreviation" ></ion-input>
    </ion-item>

    <ion-list radio-group [(ngModel)]="Stasus"  (ionChange)="changestatus()">
      <ion-list-header style="border-bottom:0px !important;">
       {{"academic"|translate}}
      </ion-list-header>

      <ion-row>
        <ion-col col-6>
          <ion-item>
            <ion-label style="font-size: 19px;">  {{"academictrue"|translate}} </ion-label>
            <ion-radio  value="true"></ion-radio>
          </ion-item>
        </ion-col>
        <ion-col col-6>
          <ion-item>
            <ion-label>  {{"academicfalse"|translate}} </ion-label>
            <ion-radio value="false"></ion-radio>
          </ion-item>
        </ion-col>
      </ion-row>

    </ion-list>

    <button *ngIf="!ISEditing" ion-button full  round color="custom1" style="border-radius: 10px;" (click)="AddLanguage()">
       <h4 style="color:white;margin-top: 0.7rem;"> {{"create"|translate}} </h4>
    </button>

    <button *ngIf="ISEditing" ion-button full  round color="custom1" style="border-radius: 10px;" (click)="EditLanguage()">
      <h4 style="color:white;margin-top: 0.7rem;"> {{"edit"|translate}} </h4>
   </button>

</ion-content>
