page-mainpage {
    button.button.button-md.button-default.button-default-md.button-full.button-full-md.button-md-custom2
    {
      height:90px;
    }
   
   
    button.button.button-ios.button-default.button-default-ios.button-full.button-full-ios.button-ios-custom2
    {
      height: 90px;
    }

    .toolbar-background.toolbar-background-md{
        background: #FFFFFF !important;
    }

    .toolbar-background.toolbar-background-ios{
        background: #FFFFFF !important;
    }
}
