.dark-theme {
    ion-content {
      background-color: red;
      color: #ffffff;
    }
   
    .toolbar-title {
      color: #ffffff;
    }
   
    .header .toolbar-background {
      border-color: #ffffff;
      background-color: red;
    }
  }