page-client-profile-complete {
    .item-md{
        background-color: unset ;
        padding-left: 0px !important;
    }
    .item-ios{
        background-color: unset ;
        padding-left: 0px !important;
    }
    .text-input-md {
      margin: 13px 0px;
      padding: 0;
      width: calc(100% - 8px - 8px);
  }

  .text-input-ios {
    margin: 13px 0px;
    padding: 0;
    width: calc(100% - 8px - 8px);
}

.input-wrapper {
  border-bottom: 1px solid gray;
}
.select-md {
  padding: 0px !important
}
.select-ios {
  padding: 0px !important
}
input {
  padding-bottom: 6px !important;
   border-bottom: unset !important;
}
}
