
<!-- requestDetails,requestType,userType -->


     <!-- [ngStyle]="{'background-color': (vars.state=='Signup') ? '#73c7af' : '#ffffff'}"> -->

<ion-row (click)="showRequestDetails(requestDetails)"  style="    margin-bottom: 6px;background-color: #F2F2F2;padding: 6px;border-radius: 5px;">
  <ion-col col-2  *ngIf="userType == 'client' " style="background-color: #214952;color: #FFAA45;white-space: normal;border-radius: 5px;font-size: 15px;text-align: center;">
    <div style="margin-bottom: 9px;"> {{requestDetails.day}} </div>
    <div> {{requestDetails.month}} </div>
  </ion-col>
  <ion-col col-2  *ngIf="userType == 'admin'" style="background-color: #07133c;color: #FFAA45;white-space: normal;border-radius: 5px;font-size: 15px;text-align: center;">
    <div style="margin-bottom: 9px;"> {{requestDetails.day}} </div>
    <div> {{requestDetails.month}} </div>
  </ion-col>
  <ion-col col-7 *ngIf="userType == 'client'">
    <div *ngIf="dir==true" style="padding: 0px 13px;margin-bottom: 12px;color: #3B5E66;font-size: 15px;white-space: normal;overflow: hidden;">
       {{requestDetails.Request_Orginal_File}}
    </div>
    <div *ngIf="dir==false" style="padding: 0px 13px;margin-bottom: 12px;color: #3B5E66;font-size: 15px;white-space: normal;overflow: hidden;">
      {{requestDetails.Request_Orginal_File}}
     </div>
      <div style="    padding: 0px 13px;color: #3B5E66;  font-size: 18px;line-height: 15px;">
     {{requestDetails.requestValue}}
    </div>
  </ion-col>
  <ion-col col-7 *ngIf="userType == 'admin'">
    <div *ngIf="dir==true" style="padding: 0px 13px;margin-bottom: 12px;color: #07133c;font-size: 15px;white-space: normal;overflow: hidden;">
       {{requestDetails.Request_Orginal_File}}
    </div>
    <div *ngIf="dir==false" style="padding: 0px 13px;margin-bottom: 12px;color: #07133c;font-size: 15px;white-space: normal;overflow: hidden;">
      {{requestDetails.Request_Orginal_File}}
     </div>
      <div style="    padding: 0px 13px;color:#07133c;  font-size: 18px;line-height: 15px;">
     {{requestDetails.requestValue}}
    </div>
  </ion-col>
  <ion-col col-1></ion-col>
  <ion-col col-1 style="white-space: nowrap;"> {{requestDetails.RequestCode}} </ion-col>
</ion-row>


