page-admin-home {
    [col-6] {
        padding: 8px;
    }
    .card{
      border: 1px solid #80808069;
      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.11), 0 -1px 8px 0 rgba(0, 0, 0, 0.11) !important;
    }

    .card-content-md {
      padding: 0px;
      font-size: 1.4rem;
      line-height: 1.5;
  }
  .card-content-ios {
    padding: 0px;
    font-size: 1.4rem;
    line-height: 1.5;
}
}
